<h1>Stupid coach</h1>
<div class="ask">
  <%= params[:ask] %>
  <h3><em>-you</em></h3>
</div>

<div class="answer">
  <%= @answer %>
  <h3><em>-your coach</em></h3>
</div>

<%= link_to "Ask a new question", ask_path %>

