<h1 class="text-center"><strong>Stupid Coaching</strong></h1>
<form action="answer" class="form-control text-center mt-8">
  <input type="text" name="ask">
  <input type="submit" value="Ask!">
</form>
<a href="ask.html.erb">Ask a new question</a>
